.ant-layout-sider {
  background-color: transparent !important;
}

.ant-layout .ant-layout-header {
  background-color: transparent;
  line-height: inherit;
  padding-inline: 0;
  padding-left: 20px;
  height: 50px;
}

.ant-layout .ant-layout-content {
  padding-left: 20px;
}