@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.ant-radio-button-wrapper {
  height: 50px;
  width: 168px;
}

.ant-radio-button-wrapper span:nth-child(2) {
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;

}

.ant-radio-button-wrapper-checked {
  background-color: #2196F3 !important;
}