@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0 0 50px 0;
  background-color: rgba(243, 247, 250, 1);
  font-family: 'Open Sans', sans-serif;
}

#root {
  width: 760px;
  margin: 0 auto;
}
